/* This is the report stylesheet */

.record {
  vertical-align: top;
}
.record .summary {
  display: inline;
}
.record .graph {
	min-height: 20px;
	min-width:200px;
}
.record .detail {
	display: none;
	height: 0;
}

