/* This is the report stylesheet */

.records {
	width: 100%;
}
.record {
	vertical-align: top;
}
.record .summary {
}
.record .summary .section-content-counts {

}
.counts {
	list-style: none;
	margin: 0;
	min-width: 100px;
	padding: 0;
}
.counts li {
	display: inline;
}

.record .detail {
	border: 1px solid gray;
	display: none;
}
