[crawl]
input=/path/to/data
output=/path/to/feeder/PROJ/crawl
report=/path/to/feeder/PROJ/report
sleep=0.0

[clean]
input=/path/to/feeder/PROJ/crawl
output=/path/to/feeder/PROJ/clean
report=/path/to/feeder/PROJ/report
schema=/path/to/eac.dtd

[infer]
alchemy_api_key=
calais_api_key=
google_api_key=
input=/path/to/feeder/PROJ/clean
output=/path/to/feeder/PROJ/infer
report=/path/to/feeder/PROJ/report
sleep=1.0
type=location,entity

[transform]
input_inferred=/path/to/feeder/PROJ/infer
input_xml=/path/to/feeder/PROJ/clean
merge=true
output=/path/to/feeder/PROJ/post
report=/path/to/feeder/PROJ/report
schema=/path/to/solr-input-document.dtd
xslt=/path/to/feeder/PROJ/infer

[post]
boostDocs=
boostFields=
commit=true
flush=true
index=http://solr.server.com:8080/PROJ/
input=/path/to/feeder/PROJ/post
optimize=true
post=true
report=/path/to/feeder/PROJ/report

[report]
input=/path/to/feeder/PROJ/report
output=/path/to/feeder/PROJ/report

