[crawl]
input=/home/davis/Documents/eac-feeder-0.2.0/src/esrc/data
output=/var/lib/feeder/PROJ/crawl
report=/var/lib/feeder/PROJ/report
sleep=0

[clean]
input=/var/lib/feeder/PROJ/crawl
output=/var/lib/feeder/PROJ/clean
report=/var/lib/feeder/PROJ/report

[infer]
alchemy_api_key=
google_api_key=
input=/var/lib/feeder/PROJ/clean
output=/var/lib/feeder/PROJ/infer
report=/var/lib/feeder/PROJ/report
sleep=0

[transform]
input=/var/lib/feeder/PROJ/infer
output=/var/lib/feeder/PROJ/post
report=/var/lib/feeder/PROJ/report
transform=/home/davis/Documents/eac-feeder-0.2.0/src/esrc/cfg/eac-to-solr.xslt

[post]
add=true
commit=true
flush=false
index=http://idx-master:8080/FACP/
input=/var/lib/feeder/PROJ/post
optimize=true
report=/var/lib/feeder/PROJ/report

[report]
input=/var/lib/feeder/PROJ/report
output=/var/lib/feeder/PROJ/report
