[crawl]
actions=eaccpf,eaccpf-thumbnail
base=http://www.example.com/PROJ/
cache=/srv/ha/web/ECOM/LIVE/facp_cache
cache-url=http://www.example.com/PROJ/cache/
input=/srv/ha/web/PROJ/
output=/var/lib/indexer/PROJ/crawl

[clean]
input=/var/lib/indexer/PROJ/crawl
output=/var/lib/indexer/PROJ/clean
schema=/var/lib/indexer/PROJ/eac.dtd

[infer]
actions=locations
alchemy_api_key=
calais_api_key=
google_api_key=
input=/var/lib/indexer/PROJ/clean
output=/var/lib/indexer/PROJ/infer
sleep=1.0

[graph]
actions=build,community,write
input=/var/lib/indexer/PROJ/crawl
output=/var/lib/indexer/PROJ/graph
graph=/var/lib/indexer/PROJ/graph.gexf

[transform]
actions=eaccpf-to-sid,merge-digitalobjects,merge-inferred,set-fields
boost=title:1000
inputs=/var/lib/indexer/PROJ/clean,/var/lib/indexer/PROJ/infer
output=/var/lib/indexer/PROJ/post
set-fields=x:y

[post]
actions=flush.post,commit,optimize
index=http://index.example.com/PROJ/
input=/var/lib/indexer/PROJ/post

[analyze]
inputs=/var/lib/indexer/PROJ/clean
output=/var/lib/indexer/PROJ/report
